# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# =====================
# Environment variables
# =====================
.env

# =====================
# Flask
# =====================
instance/
.webassets-cache

# =====================
# Logs
# =====================
*.log

# =====================
# Node / frontend
# =====================
node_modules/
dist/
build/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# IDEs
# =====================
.vscode/
.idea/